.container {
  max-width: 700px;
}

.input-group input {
  border-radius: 0.25rem 0 0 0.25rem;
}

.input-group button {
  border-radius: 0 0.25rem 0.25rem 0;
}

.list-group-item:hover {
  background-color: #f0f8ff;
  transition: 0.3s;
}

.list-group-item button:hover {
  transform: scale(1.1);
}
