<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Dashboard</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" routerLink="/notes">Notes</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/tasks">Tasks</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/expenses">Expenses</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/reminders">Reminders</a></li>
      </ul>
      <span class="navbar-text me-2">Hello, {{ username }}</span>
      <button class="btn btn-sm btn-danger" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>
